.pk{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
nav{
    width: 84;
    margin: auto;
    padding: 35px 0;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
}
.pk h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
span{
    color: orange;
}
.pk p{
    color: #555;
    line-height: 22px;
}
